body {
  background-color: #eeebeb;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 20px;
}
h6 {
  text-align: center;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
}

/* Navigation Bar Styling*/
nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: black;
}

nav ul li {
  display: inline;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
}
nav ul {
  text-align: center;
  margin-top: 50px;
  color: black;
}

.nav:hover {
  cursor: pointer;
  background-color: rgba(25, 30, 33, 0.1);
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
}

/*Avatar Image Styling*/
.float-right {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

/*About Me Article Styling*/
.TitleAboutMe {
  font-family: "Permanent Marker", cursive;
  font-size: 300%;
  color: rgb(25, 30, 33);
  text-align: center;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 10px;
}
p.DescriptionAboutMe {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 400px;
}

/* Article Contact Button Styling*/
.ButtonOne {
  color: rgb(25, 30, 33);
  display: block;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}

button a {
  text-decoration: none;
  color: rgb(25, 30, 33);
}

.ButtonOne:hover {
  cursor: pointer;
  background-color: rgba(25, 30, 33, 0.1);
  transition: 150ms ease-in-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  background-color: rgba(78, 89, 77, 0.9);
}

/*Place Holders Portfolio Wall at full screen size */
.portfolioPictures {
  background-color: rgba(78, 89, 77, 0.3);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.placeholder {
  margin-left: 135px;
  margin-right: 135px;
  position: relative;
}
.placeholder:hover {
  cursor: pointer;
  border: 3px solid rgb(78, 89, 77);
  transition: 150ms ease-in-out;
  background-color: rgba(25, 30, 33, 0.5);
}

/*Changing the Design to keep the layout clear on smaller screens*/
@media (max-width: 530px) {
  nav ul li {
    display: block;
  }
}

/*Footer Styling*/
.footer {
  font-family: "Raleway", sans-serif;
}
.contactEmail {
  margin-top: 10px;
  padding: 10px;
}
.Email {
  margin-left: 10px;
}

.ThankyouMessage {
  padding: 10px;
}
.Socials {
  margin: 10px;
  padding-bottom: 5px;
}

/*Footer Social Links Styling*/
a.footerSocials {
  text-decoration: none;
  color: rgb(25, 30, 33);
  display: inline;
  justify-content: center;
  margin: 0 auto;
}

a.footerSocials:hover {
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  background-color: rgba(25, 30, 33, 0.1);
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
}

li.footerList {
  display: inline;
  margin: 10px;
}

#copyRight {
  text-align: center;
  color: rgb(58, 57, 57);
}
